In [1]:
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('proteins.tab',sep='\t')
df.head()

,Entry,Cross-reference (GeneID),Beta strand,Helix,Length,Toxic dose
0,Q8N8B7,170082;,NaN,NaN,351,NaN
1,O75494,10772;,NaN,NaN,262,NaN
2,Q96L92,81609;,"STRAND 41..47; /evidence=""ECO:0000244|PDB:6SA...","HELIX 89..93; /evidence=""ECO:0000244|PDB:6SAK...",541,NaN
3,Q99598,7257;,"STRAND 109..111; /evidence=""ECO:0000244|PDB:3...","HELIX 34..75; /evidence=""ECO:0000244|PDB:3QB5...",290,NaN
4,P49765,7423;,"STRAND 46..55; /evidence=""ECO:0000244|PDB:2C7...","HELIX 38..45; /evidence=""ECO:0000244|PDB:2C7W""",207,NaN

In [4]:
del df['Entry']
del df['Toxic dose']
df.rename(columns={'Cross-reference (GeneID)':'GeneID','Beta strand':'n_strands'\
                  ,'Helix':'n_helix'},inplace=True)
df['GeneID'] = df['GeneID'].str.replace(';', '')
df.head()

,GeneID,n_strands,n_helix,Length
0,170082,NaN,NaN,351
1,10772,NaN,NaN,262
2,81609,"STRAND 41..47; /evidence=""ECO:0000244|PDB:6SA...","HELIX 89..93; /evidence=""ECO:0000244|PDB:6SAK...",541
3,7257,"STRAND 109..111; /evidence=""ECO:0000244|PDB:3...","HELIX 34..75; /evidence=""ECO:0000244|PDB:3QB5...",290
4,7423,"STRAND 46..55; /evidence=""ECO:0000244|PDB:2C7...","HELIX 38..45; /evidence=""ECO:0000244|PDB:2C7W""",207

### Remove genes with no info about helices or strands and drop useless columns

In [5]:
beta = df[df['n_strands'].str.contains('evidence',na=False)]
print(len(beta.index))
df = beta[beta['n_helix'].str.contains('evidence',na=False)]
print(len(df.index))
df.head()

5595
5400

,GeneID,n_strands,n_helix,Length
2,81609,"STRAND 41..47; /evidence=""ECO:0000244|PDB:6SA...","HELIX 89..93; /evidence=""ECO:0000244|PDB:6SAK...",541
3,7257,"STRAND 109..111; /evidence=""ECO:0000244|PDB:3...","HELIX 34..75; /evidence=""ECO:0000244|PDB:3QB5...",290
4,7423,"STRAND 46..55; /evidence=""ECO:0000244|PDB:2C7...","HELIX 38..45; /evidence=""ECO:0000244|PDB:2C7W""",207
10,6736,"STRAND 121..123; /evidence=""ECO:0000244|PDB:6...","HELIX 66..79; /evidence=""ECO:0000244|PDB:6EDB...",204
12,671,"STRAND 35..41; /evidence=""ECO:0000244|PDB:1EW...","HELIX 42..60; /evidence=""ECO:0000244|PDB:1EWF...",487

### Split Helix and Strand columns

In [6]:
beta = pd.DataFrame(df.n_strands)
beta = beta['n_strands'].str.split("STRAND", expand = True)
beta.head()

,0,1,2,3,4,5,6,7,8,9,...,193,194,195,196,197,198,199,200,201,202
2,,"41..47; /evidence=""ECO:0000244|PDB:6SAK"";","55..62; /evidence=""ECO:0000244|PDB:6SAK"";","68..70; /evidence=""ECO:0000244|PDB:6SAK"";","73..76; /evidence=""ECO:0000244|PDB:6SAK"";","79..84; /evidence=""ECO:0000244|PDB:6SAK"";","100..104; /evidence=""ECO:0000244|PDB:6SAK"";","125..133; /evidence=""ECO:0000244|PDB:6SAK"";","165..175; /evidence=""ECO:0000244|PDB:4HAS"";","178..187; /evidence=""ECO:0000244|PDB:4HAS"";",...,None,None,None,None,None,None,None,None,None,None
3,,"109..111; /evidence=""ECO:0000244|PDB:3QB5""",None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,,"46..55; /evidence=""ECO:0000244|PDB:2C7W"";","61..64; /evidence=""ECO:0000244|PDB:2XAC"";","66..81; /evidence=""ECO:0000244|PDB:2C7W"";","83..86; /evidence=""ECO:0000244|PDB:2C7W"";","88..105; /evidence=""ECO:0000244|PDB:2C7W"";","108..125; /evidence=""ECO:0000244|PDB:2C7W""",None,None,None,...,None,None,None,None,None,None,None,None,None,None
10,,"121..123; /evidence=""ECO:0000244|PDB:6EDB"";","124..126; /evidence=""ECO:0000244|PDB:1HRY""",None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
12,,"35..41; /evidence=""ECO:0000244|PDB:1EWF"";","68..71; /evidence=""ECO:0000244|PDB:1EWF"";","75..79; /evidence=""ECO:0000244|PDB:1EWF"";","81..93; /evidence=""ECO:0000244|PDB:1EWF"";","97..102; /evidence=""ECO:0000244|PDB:1EWF"";","106..126; /evidence=""ECO:0000244|PDB:1EWF"";","129..153; /evidence=""ECO:0000244|PDB:1EWF"";","158..169; /evidence=""ECO:0000244|PDB:1EWF"";","172..176; /evidence=""ECO:0000244|PDB:1EWF"";",...,None,None,None,None,None,None,None,None,None,None

In [7]:
alpha = pd.DataFrame(df.n_helix)
alpha = alpha['n_helix'].str.split("HELIX", expand = True)
alpha.head()

,0,1,2,3,4,5,6,7,8,9,...,115,116,117,118,119,120,121,122,123,124
2,,"89..93; /evidence=""ECO:0000244|PDB:6SAK"";","114..123; /evidence=""ECO:0000244|PDB:6SAK"";","197..210; /evidence=""ECO:0000244|PDB:4HAS"";","229..246; /evidence=""ECO:0000244|PDB:4HAS"";","250..253; /evidence=""ECO:0000244|PDB:4HAS"";","256..261; /evidence=""ECO:0000244|PDB:4HAS""",None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,,"34..75; /evidence=""ECO:0000244|PDB:3QB5"";","83..108; /evidence=""ECO:0000244|PDB:3QB5"";","117..119; /evidence=""ECO:0000244|PDB:3QB5"";","121..139; /evidence=""ECO:0000244|PDB:3QB5"";","145..150; /evidence=""ECO:0000244|PDB:3QB5"";","184..207; /evidence=""ECO:0000244|PDB:3QB5"";","213..231; /evidence=""ECO:0000244|PDB:3QB5"";","232..234; /evidence=""ECO:0000244|PDB:3QB5"";","237..263; /evidence=""ECO:0000244|PDB:3QB5""",...,None,None,None,None,None,None,None,None,None,None
4,,"38..45; /evidence=""ECO:0000244|PDB:2C7W""",None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
10,,"66..79; /evidence=""ECO:0000244|PDB:6EDB"";","87..98; /evidence=""ECO:0000244|PDB:6EDB"";","103..118; /evidence=""ECO:0000244|PDB:6EDB""",None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
12,,"42..60; /evidence=""ECO:0000244|PDB:1EWF"";","180..182; /evidence=""ECO:0000244|PDB:1EWF"";","183..192; /evidence=""ECO:0000244|PDB:1EWF"";","194..215; /evidence=""ECO:0000244|PDB:1EWF"";","217..221; /evidence=""ECO:0000244|PDB:1EWF"";","291..303; /evidence=""ECO:0000244|PDB:1EWF"";","313..315; /evidence=""ECO:0000244|PDB:1EWF"";","326..330; /evidence=""ECO:0000244|PDB:1EWF"";","336..339; /evidence=""ECO:0000244|PDB:1EWF"";",...,None,None,None,None,None,None,None,None,None,None

### Reeplace columns for the number of elements in the column

In [8]:
df.loc[:,'n_strands'] = beta.count(axis=1)
df.loc[:,'n_helix'] = alpha.count(axis=1)
df.head()

   GeneID  n_strands  n_helix  Length
2   81609         11        7     541
3    7257          2       10     290
4    7423          7        2     207
10   6736          3        4     204
12    671         29       13     487

In [9]:
df.to_csv('proteins.csv',index=False)